{% extends 'base.html' %}
{% load static %}

{% block title %}
Author - Pintereso
{% endblock %}

{% block mainn %}
    <main role="main">

    <!-- User  photo, name start -->
    <div class="jumbotron border-round-0 min-50vh" >
		<img src="{% static 'assets/img/bg.jpg' %}" alt="">
    </div>
	{% if xyz %}
	{% for i in xyz %}
    <div class="container mb-4">
		<div class="edit-profile-button">
			<a href="{% url 'edit-profile' %}"><button type="button">Edit profile</button></a>
		</div>
    	<img src="{{ i.profile_picture.url }}" alt="upload image" class="mt-neg100 mb-4 rounded-circle" width="128">
    	<h1 class="font-weight-bold title">{{ user.username }}</h1>
    	<p>
    		{{ i.bio }}
    	</p>	
    </div>
	{% endfor %}
	{% else %}
	<div class="container mb-4">
		<p>no profile pic</p>
		<p>no bio</p>
		<div class="edit-profile-button">
			<a href="{% url 'edit-profile' %}"><button type="button">Edit profile</button></a>
		</div>
    </div>
	{% endif %}

	


<!-- user end  -->


<!-- user posts start  -->
    <div class="container-fluid mb-5">
    	<div class="row">
    		<div class="card-columns">

				{% for post in user_posts %}		
    			<div class="card card-pin">
    				<img class="card-img" src="{{ post.image.url}}" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">{{post.title}}</h2>
    					<div class="more">
							<a href="{% url 'single-post' post.id %}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				{% endfor %} 	
    		
    		</div>
    	</div>
    </div>
        
    </main>

    {% endblock %}