{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
       
        {% endblock %}

    </title>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    
<!-- navbar start  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="/home/"><img src="{% static 'assets/img/logo.png' %}"></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">
    	
<!-- ########### Search bar ######## -->
    <ul class="navbar-nav mr-auto align-items-center">
      <form  style="display: flex;"  method="get" action="{% url 'explore' %}" class="bd-search hidden-sm-down">
         
      	<input type="text" class="form-control bg-graylight border-0 font-weight-bold" name="q" placeholder="Search..." autocomplete="off" size="30">
      	<button  style="margin-left: 20px;" class="btn btn-primary d-block" type="submit">Search</button>   
      </form>
    </ul>
<!-- ### search bar end ### -->

    	<ul class="navbar-nav ml-auto align-items-center">
    		<li class="nav-item dropdown"> 
            {% if user.is_authenticated %} 
            <!-- {% if wata %}
                {% for i in wata %}
            <li style="margin-top: 10px; margin-bottom: 10px;"><img class="rounded-circle mr-2" src="{{ i.profile_picture.url }}" alt="no pic" width="30"><span>{{ user.username }}</span></li>
                {% endfor %}
            {% else %}
            <li style="margin-top: 10px; margin-bottom: 10px;"><img class="rounded-circle mr-2" src="{% static 'assets/img/no-dp.png' %}" width="30"><span>{{ user.username }}</span></li>
            {% endif %} -->
            <span>Hi.. {{ user.username }}</span>
            <li><span class="dropdown-item"><a href="{% url 'user-post/' %}" class="btn btn-primary d-block"> My Profile</a></span> </li>
            <li><span class="dropdown-item"><a href="{% url 'post-upload/' %}" class="btn btn-primary d-block"> Upload</a></span> </li>           
            <li><span class="dropdown-item"><a href="{% url 'logout/' %}" class="btn btn-primary d-block"> Log out </a></span> </li>
            <div class="dropdown-divider"></div>                       
            {% else %}             
    		<li style="margin-top: 20px;"><span class="dropdown-item"><a href="{% url 'login/' %}" class="btn btn-primary d-block"> Log in </a></span></li> 
            </li>         
            {% endif %}
    	</ul>
    </div>
    </nav>    
   <!-- navbar end  -->
{% block mainn %}


{% endblock %}
    <!-- footer start  -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    
    <footer class="footer pt-5 pb-5 text-center">
        
    <div class="container">
        
         <div class="socials-media">
    
            <!-- <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
            </ul> -->
    
         </div>
            <a href="https://www.instagram.com/_pankaj_kj/">Instagram link</a>
          <p>©  Pinter by pkmindworld<span class="credits font-weight-bold">        
          </span>
          </p>

    </div>   
    </footer>    
</body>
    
</html>
