{% extends 'base.html' %}
{% load static %}

{% block title %}
Home - Pintereso
{% endblock %}

{% block mainn %}
    <main role="main">
        
    
    <section class="mt-4 mb-5">
    <div class="container mb-4">
    	<h1 class="font-weight-bold title">Explore</h1>
    	<div class="row">
    		<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    		<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarsExplore">
    			<ul class="navbar-nav">
    				<li class="nav-item">
    				<a class="nav-link" href="{% url 'home/' %}">Home</a>
    				</li>
    				<li class="nav-item">
    				<a class="nav-link" href="{% url 'explore' %}?name=Astronomy">Astronomy</a>
    				</li>
    				<li class="nav-item">
    				<a class="nav-link" href="{% url 'explore' %}?name=Nature">Nature</a>
    				</li>
    				<li class="nav-item">
    				<a class="nav-link" href="{% url 'explore' %}?name=Gaming">Gaming</a>
    				</li>
    				<li class="nav-item dropdown">
    				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
    				<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
    					<a class="dropdown-item" href="{% url 'explore' %}?name=Travel">Travel</a>
    					<a class="dropdown-item" href="{% url 'explore' %}?name=Food">Food</a>
    					<a class="dropdown-item" href="{% url 'explore' %}?name=Desktop">Desktop</a>    					    					
    					<a class="dropdown-item" href="{% url 'explore' %}?name=Mobile">Mobile</a>
    				</div>
    				</li>
    			</ul>
    		</div>
    		</nav>
    	</div>
    </div>
	
    <div class="container-fluid">
    	<div class="row">
    		<div class="card-columns">
    			
{% for i in page %}
    			<div class="card card-pin">
					<img class="card-img" src="{{ i.image.url}}" alt="Card image">
					<a href="{% url 'single-post' i.id %}">
    				<div class="overlay">
    					<h2 class="card-title title">{{i.title}}</h2>
    				</div>
					</a>
    			</div>
  {% endfor %} 
  
				<!-- Search items show here  -->
  {% if zata %}
  {% if search_query %}<h5>search result '{{search_query }}'</h5>{% endif %}
  {% if search_query2 %}<h4>{{search_query2}}</h4>{% endif %}
  {% for i in zata %}		
              <div class="card card-pin">
            	<img class="card-img" src="{{ i.image.url}}" alt="Card image">
            	<a href="{% url 'single-post' i.id %}">
            	<div class="overlay">
            		<h2 class="card-title title">{{i.title}}</h2>
            	</div>
            	</a>
            </div>
	{% endfor %}
	{% endif %}
					
    		</div>
    	</div>	
    </div>

	<div class="pagination" style="text-align: center; display: flex; justify-content: center;">
		<span class="step-links">
			{% if page.has_previous %}
				<a href="?page=1">&laquo; &laquo; <button class="next-button">First</button></a>
				<a href="?page={{ page.previous_page_number }}"><button class="next-button">previous</button></a>
			{% endif %}
	
			<span class="current-page"><strong>{{ page.number }}</strong></span>
	
			{% if page.has_next %}
				<a href="?page={{ page.next_page_number }}"><button class="next-button">next</button></a>
				<a href="?page={{ page.paginator.num_pages }}"><button class="next-button">last</button>&raquo; &raquo;</a>
			{% endif %}
		</span>
	</div>	
    </section> 
        
    </main>
{% endblock %}
    