{% extends 'base.html' %}
{% load static %}

{% block title %}
Author - Pintereso
{% endblock %}

{% block mainn %}
    <main role="main">
	{% for zata in zata%}
    <!-- User  photo, name start -->
    <div class="jumbotron border-round-0 min-50vh">
        <img src="{% static 'assets/img/bg.jpg' %}" alt="">
    </div>
    <div class="container mb-4">
    	<img src="{{ zata.profile_picture.url }}" alt="upload image" class="mt-neg100 mb-4 rounded-circle" width="128">
    	<h1 class="font-weight-bold title">{{ nata.var.username }}   </h1>
    	<p>
    		{{ zata.bio }}
    	</p>
    </div>
	{% endfor %}
	


<!-- user end  -->


<!-- user posts start  -->
    <div class="container-fluid mb-5">
    	<div class="row">
    		<div class="card-columns">


				{% for i in lata %}	
				<div class="card card-pin">
					<img class="card-img" src="{{ i.image.url}}" alt="Card image">
					<a href="{% url 'single-post' i.id %}">
    				<div class="overlay">
    					<h2 class="card-title title">{{i.title}}</h2>
    				</div>
					</a>
    			</div>
				{% endfor %} 	
    		
    		</div>
    	</div>
    </div>
        
    </main>

    {% endblock %}